
body{
	margin:0px;
	color:#000000;
	font-size:10px;
	font-family:Times New Roman, Helvetica, sans-serif;
	padding:10px 10px 10px 10px;
	
	scrollbar-3dLight-Color:#D4D4D4; 		/*Border*/
	scrollbar-Highlight-Color:#D4D4D4;		/*Border*/
	scrollbar-Face-Color: #999999;			/*Background*/
	scrollbar-Arrow-Color:#000000;			/*Triangulos*/
	scrollbar-Shadow-Color:#ffffff;			/*Border*/
	scrollbar-DarkShadow-Color:#ffffff;		/*Border*/
	scrollbar-Track-Color:#D4D4D4; 			/*Background total*/
}
/* ========== TABLAS ========== */
.TB_Borde{
	padding:5px;
	color:#000000;
	font-size:10px;
	text-align:center;
	border:1px solid #E0E0E0;
	background-color:#E0E0E0;
	border-radius: 5px;
	font-family:Times New Roman, Helvetica, sans-serif;
}
.TB_BordeSub{
	padding:5px;
	color:#000000;
	font-size:10px;
	text-align:center;
	border:1px solid #1d59b9;
	background-color:#FFFFFF;
	font-family:Times New Roman, Helvetica, sans-serif;
}

.TB_Busca{
	width:750px;
	height:80px;
	color:#000000;
	font-size:12px;
	font-weight:bold;
	vertical-align:middle;
	border:1px solid #1d59b9;
	padding:5px 5px 5px 15px;
	background-color:#FFFFFF;
	font-family:Times New Roman, Helvetica, sans-serif;
}
.TB_Titulo{
	height:17px;
	color:#000000;
	font-size:11px;
	font-weight:bold;
	font-family:Times New Roman;
	vertical-align:middle;
	background-image:url(../Images/Titulos.gif);
}
.TB_TituloSub{
	height:17px;
	color:#000000;
	font-size:11px;
	font-weight:bold;
	font-family:Times New Roman;
	vertical-align:middle;
	background-image:url(../Images/TitulosSub.gif);
}
.TB_Pad{
	padding:3px;
	font-size:11px;
	font-weight:bold;
	font-family:Times New Roman;
}

.Tabla_Div{
	height:4px;
	color:#990000;
	font-size:4px;
	font-family:Times New Roman, Helvetica, sans-serif;
	background-image:url(../Images/Pixel_Div_V.gif);
	background-repeat: repeat-x;
}

.TB_Data_A{
	height:30px;
	color:#000000;
	font-size:10px;
	text-align:center;
	vertical-align:middle;
	background-color:#ddedfb;
	font-family:Times New Roman, Helvetica, sans-serif;
}
.TB_Data_B{
	height:30px;
	color:#000000;
	font-size:10px;
	text-align:center;
	vertical-align:middle;
	background-color:#f3f8fe;
	font-family:Times New Roman, Helvetica, sans-serif;
}
/* ========== TEXTOS ========== */

.Titulos_View{
	height:22px;
	text-align:left;
	font-size:11.5px;
	font-family:Times New Roman;
    margin-left: 22px;
}

.Titulos_View01{
	height:22px;
	text-align:left;
	font-size:11.5px;
	font-family:Times New Roman;
    margin-left: 2px
}

.Titulos_Etiqueta{
	text-align:left;
	font-size:8pt;
	font-family:verdana;
	color :#666666;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}

.Titulos_Separador{
	height:22px;
	width :130px;
	font-family:verdana;
	color :#666666;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}

.Caja_Multilinea{
	height:22px;
	text-align:justify ;
	font-size:8pt;
	font-family:verdana;
	color :#666666;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
}



.Titulos_Link{
	height:22px;
	text-align:left;
	font-size:10pt;
	font-family:Times New Roman;
	color :#EA671C;
    
}

.Titulos_Ayuda{
	height:22px;
	text-align:left;
	font-size:10pt;
	font-family:verdana;
	border-style :none;
	border-width :1px;
    width :560px;
    height :37px;
    background : #FFE8C7;
    text-align :center ;
     
}


.Titulos_Header{
	text-align:left;
	font-size:13px;
	font-family:Times New Roman;
	color :#FFFFFF;
	
}
.Titulos_jHeader{
	height:34px;
	width :700px;
	font-size:8pt;
	font-family:verdana;
	color :#FFFFFF;
	margin-left: 5px;
    margin-right: 5px;
    text-align :  center ;
	
}

.Titulos_jAviso{
	height:34px;
	width :700px;
	font-size:10pt;
	font-family:verdana;
	color :#FFFFFF;
	margin-left: 5px;
    margin-right: 5px;
    text-align :  center ;
	
}

.Titulos_Aviso
{
	padding: 1px;
	font-size: 9px;
	font-weight: bold;
	font-family: Times New Roman;
	color: #0066ff;
}

/* ========== FORMS ========== */

.Input{
	width:92%;
	height:15px;
	font-size:11px;
	font-family:verdana;
	border:1px solid #808080;
	text-transform:uppercase;
}

.Inputpass{
	width:92%;
	height:15px;
	font-size:11px;
	font-family:verdana;
	border:1px solid #808080;
}


.Input_View
{
	width: 92%;
	height: 15px;
	font-size: 11px;
	font-family: Times New Roman, Helvetica, sans-serif;
	color: #3399ff;
	font-weight: bold;
}


.btn01{
	 color: #ffffff;
    font-size: 9pt;
    font-weight: bold;
    font-family: verdana;
    background-image: url('../Imagenes/btn01.jpg');
    width:106px;
    height:41px;
    padding:0 25px 2px 0;

}
.btn02{
	border-style: none;
    border-color: inherit;
    border-width: 0px;
	width:140px;
	height:25px;
	color:#FFFFFF;
	font-size:10pt;
	font-weight:bold;
	font-family:Times New Roman;    
	background-image:url('../icono/btn02.jpg');
    margin-left: 5px;
    cursor:pointer;
}

.btn03{ 
	color: #ffffff;
    font-size: 10pt;
    font-weight: bold;
    font-family: Times New Roman;
    background-image: url('../icono/btn03.jpg');
    width:180px;
    height:28px;
    border: 0px;
}
.btn04{
	color: #ffffff;
    font-size: 10pt;
    font-weight: bold;
    font-family: Times New Roman;
    background-image: url('../icono/btn04.jpg');
    width:250px;
    height:30px;
}
.btn05
{
	border: 0px;
	width: 68pt;
	height: 19pt;
	color: white;
	font-size: 8pt;
	font-weight: bold;
	font-family: Times New Roman, Helvetica, sans-serif;
	background-color: white;
}
.btn06
{
	border: 0px;
	width: 500pt;
	height: 19pt;
	color: #808080;
	font-size: 8pt;
	font-weight: bold;
	font-family: Times New Roman, Helvetica, sans-serif;
	background-image: url(../icono/btn06.gif);
}
/* ========== TABS Propuesta========== */

.TabbedPanels {
	margin: 0px;
	padding: 0px;
	float: left;
	clear: none;
	width: 100%; /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
}


.TabbedPanelsTabGroup {
	margin: 0px;
	padding: 0px;
}


.TabbedPanelsTab {
	position: relative;
	top: 1px;
	float: left;
	padding: 4px 10px;
	margin: 0px 1px 0px 0px;
	font-weight:bold;
	font-size:11px;
	
	font-family:Times New Roman;
	background-color: #e0fdb5;
	list-style: none;
	border:1px solid #3c881b;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
}


.TabbedPanelsTabHover {
	background-color: #abe66a;
}


.TabbedPanelsTabSelected {
	background-color: #c3e493;
	border-bottom: 1px solid #c3e493;
}


.TabbedPanelsTab a {
	color: black;
	text-decoration: none;
}

.TabbedPanelsContentGroup {
	clear: both;
	border:1px solid #3c881b;
	background-color: #EEE;
}


.TabbedPanelsContent {
	padding:10px 10px 10px 10px;
	background-color:#FFFFFF;
}

.TabbedPanelsContentVisible {
}

.VTabbedPanels .TabbedPanelsTabGroup {
	float: left;
	width: 10em;
	height: 20em;
	background-color: #EEE;
	position: relative;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}

.VTabbedPanels .TabbedPanelsTab {
	float: none;
	margin: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
}

.VTabbedPanels .TabbedPanelsTabSelected {
	background-color: #EEE;
	border-bottom: solid 1px #999;
}


.VTabbedPanels .TabbedPanelsContentGroup {
	clear: none;
	float: left;
	padding: 0px;
	width: 30em;
	height: 20em;
}


/*============================	Ventanas Modales	==========================*/


.modalBackground {
	background-color: #f5f5f5 ;
	filter:alpha(opacity=80);
	opacity:0.8;
}

.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}

.jEncabezadoTabla
{
	color:#FFFFFF;
	font-size:8pt;
	font-family:verdana;
	color :#666666;
	background: url(../icono/headerTable.jpg) repeat-x;          
	border-collapse :collapse ;
}

.grid td, .grid th
{
    height:14px;
    vertical-align:middle;
}

.grid th
{
	background-color:#FFFFFF;
	font-weight:normal;
	border-color:#ccc;
}

.grid td
{
    vertical-align:middle;
    cursor:default;
    border-color:#FFFFFF;
}

.grid-view
{
    padding: 0;
    margin: 0;
    border: 1px solid #333;
    font-family: Times New Roman;
    font-size:13px;
    color:#666666;
 }
.grid-view tr.header
{
    background-color: #CF242A;
    color: #FFFFFF;
    font-size: 13px;
    font-family: Times New Roman;
    height: 25px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
 }


.grid-view tr.normal
{
    color: #000000;
    background-color: #FFFFFF;
    font-size: 13px;
    font-family: Times New Roman;
    height: 25px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}
 
.grid-view tr.alternate
{
    color: #000000;
    background-color: #D4D4D4;
    height: 25px;
    font-size: 13px;
    font-family: Times New Roman;
    vertical-align: middle;
    text-align: center;
}

.grid-view tr.normal:hover, .grid-view tr.alternate:hover
{
    background-color: #C9D4C3;
    color: #FFFFFF;
}
.altrowstyle 
{
	background-color:#e4f0c2;
}

.Etiquetas
{
	font-size: 12pt;
}

.Etiquetas2
{
	font-size: 13pt;
}


.EtiquetasMensajes
{
	font-size: 8pt;
}

.altrowstyle 
{
	background-color:#e4f0c2;
	
	
}
.pagerstyle 
{
	font-size:x-small;text-align:right;
    background-position: left bottom;
	font-weight: 700;
}
.irapag
{
    font-size:x-small;
    width:20px;
}
.anterior
{
	background: transparent url( '../Imagenes/previous.gif' ) no-repeat scroll center;
	height: 1.3em;
	width: 16px;
	cursor: pointer;
}
.siguiente
{
	background: transparent url( '../Imagenes/next.gif' ) no-repeat scroll center;
	height: 1.3em;
	width: 16px;
	cursor: pointer;
}
.primero
{
	background: transparent url( '../Imagenes/first.gif' ) no-repeat scroll center;
	height: 1.3em;
	width: 16px;
	cursor: pointer;
}
.ultimo
{
	background: transparent url( '../Imagenes/last.gif' ) no-repeat scroll center;
	height: 1.3em;
	width: 16px;
	cursor: pointer;
}
.pagerstyle {font-size:x-small;text-align:right;
    background-position: left bottom;
	font-weight: 700;
}
.progressBackground 
{
	background-color:Gray;
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url('Imagenes/PrecargaB.jpg');
	filter:alpha(opacity=80);
	opacity:0.80;
	height: 122%;
}
.modalBackground 
{
    background-color:#000;
    filter:alpha(opacity=70);
    opacity:0.7;
}
/**************************************/
/*Estilos agregados el 17 mayo de 2011*/
.Preguntas
{
    font-family:Times New Roman;
    font-size:12px;
}
.Titulos
{
    font-family: Times New Roman;
    font-size:15px;
    color:#666666;
    font-weight: normal;
    letter-spacing:0.1em;
}
.TitulosNotas
{
    font-family:Times New Roman;
    font-size:10px;
    color:#666666;
    font-weight:bold;
    letter-spacing:0.1em;
}
.Titulosetiqueta
{
    font-family: Times New Roman;
    font-size:15px;
    color:#000000;
    font-weight:bold;
    letter-spacing:0.1em;
}
.TextosFijos
{
    font-family:Times New Roman;
    font-size:11px;
    color: #000000;
    text-decoration: none;
}
.TextosVariables
{
    font-family:Times New Roman;
    font-size:11px;
    resize: none;
    
}
.lblClasifConcursante
{
    font-family:Times New Roman;
    font-size:11px;
}
.lblSeccionSindical
{
    font-family:Times New Roman;
    font-size:11px;
}
.ddlSeccionSindical
{
    font-family:Times New Roman;
    font-size:11px;
}
.lblTextoVariable
{
   font-family:Times New Roman;
   font-size:11px; 
   color:#EA6719;
}
.Mensajes
{
   font-family:Times New Roman;
   font-size:11px;
   text-align:center;
}
.MensajesRojo
{
   font-family:Times New Roman;
   font-size:11px;
   text-align:center;
   color:red;
}
.TituloMensaje
{
   font-family:Times New Roman;
   font-size:12px;
   color:White;
}
.dropdownlistOtros
{
    font-family: Times New Roman;
    font-size:13px;
}
.SubTitulos
{
    font-family:Times New Roman;
    font-size:12px;
    color:#FFFFFF;
    letter-spacing:0.1em;
    background-color:#FEA620;
}
.TextosOtros
{
    font-family: Times New Roman;
    font-size:13px;
    margin-left: 0px;
}
.Avisos
{
    font-family:Times New Roman;
    font-size:11px;
    color:#EA6719;
    letter-spacing:0.1em;
}
.TextosHeader
{
    font-family:Times New Roman;
    font-size:13px;
    color :#1A1A1A;
    font-weight:bold;
}
/*  menu principal */
 /*   font-weight:bold;*/

/*  menu principal */
.EncabezadoMenu
{
	font-family: Times New Roman;
    font-size:15px;   
    color: #666666;     
    letter-spacing:0.1em;
    font-weight: normal;
    background-color : #D4D4D4;
    padding: 1px 3px 1px 0px;
}
.ItemsMenu
{
	font-family : Times New Roman;
    font-size: 15px;
    color : #666666;
    font-weight:bold;
	background-color : #E3E3E3;
	
}
.tdGris
{
	font-family : Times New Roman;
    font-size: 15px;
    color : #000000;
    font-weight: normal;
	background-color : #E3E3E3;
	padding: 1px 3px 1px 0px;
}
.tdRojo
{
	font-family : Times New Roman;
    font-size: 15px;
    color : #FFFFFF;
    font-weight: normal;
	background-color : #CF242A;
	padding: 1px 3px 1px 0px;
}
.ItemsSelectedMenu
{
    
    font-family:Times New Roman;
	color : #FFFFFF;
	font-size: 15px;
	font-weight:bold;
	background-color : #E3E3E3;
    /*display: block;*/
	padding: 1px 3px 1px 0px;
	
}
.ItemsHoverdMenu
{
    font-family: Times New Roman;	
	font-size: 15px;
    color: #FFFFFF;    
	background-color : #1B905B;	
	/*display: block;*/
	padding: 1px 3px 1px 0px;
}

/*menu lateral*/
.EncabezadoMenulateral
{
	font-family: Times New Roman;
    font-size:13px;   
    color:  #666666;     
    letter-spacing:0em;
    font-weight:bold;    
    background-color : #E3E3E3;
    
}
.ItemsMenulateral
{
	font-family : Times New Roman;
    font-size: 12px;
    color : #ffffff;
    font-weight:bold;
    width: 150px;
	background-color :#999999;
	padding: 1px 3px 1px 0px;
}
.ItemsSelectedMenulateral
{
    font-family: Times New Roman;
	color : #E3E3E3;
	font-size: 12px;
	font-weight:bold;
    width: 150px;
	background-color : #E3E3E3;
	padding: 1px 3px 1px 0px;
}
.ItemsHoverdMenulateral
{
    font-family: Times New Roman;	
	font-size: 12px;
    color: #FFFFFF; 
    width: 150px;
	background-color : #1B905B;
	padding: 1px 3px 1px 0px;
}