* {
    padding: 0; 
    margin: 0; 
}
h1 {
    font: bold 32px Times;
	color: #666;
	text-align: center;
	padding: 20px 0;    
}
#container {
    width: 700px;
    margin: 10px auto;
}

.mGrid { width: 100%; background-color: #fff; margin: 5px 0 10px 0; border: solid 1px #CF242A; border-collapse:collapse; }
.mGrid td { padding: 2px; border: solid 1px #c1c1c1; color: #717171; }
.mGrid th
{
    padding: 4px 2px;
    color: #fff;
    background: #CF242A url('../fallback/grd_head.png') repeat-x center;
    border-left: solid 1px #CF242A;
    font-size: 0.9em;
}
.mGrid .alt
{
    background: #fcfcfc url('../fallback/grd_alt.png) repeat-x top;
    background-image: url('../fallback/grd_alt.png');
}
.mGrid .pgr
{
    background-color: #E4E4E4;
}
    .mGrid .pgr table
{
    margin: 5px 0;
}
    .mGrid .pgr td
{
    border-width: 0;
    padding: 0 6px;
    border-left: solid 1px #666;
    font-weight: bold;
    color: gray;
    line-height: 12px;
}   
    .mGrid .pgr a
{
    color: #666;
    text-decoration: none;
}
    .mGrid .pgr a:hover
{
    color: #000;
    text-decoration: none;
}